<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="de.fhflensburg.hwlanguage"
   name="hwlanguage Plug-in"
   version="1.0.0"
   provider-name=""
   class="de.fhflensburg.hwlanguage.HwLanguagePlugin">

   <runtime>
      <library name="hwlanguage.jar">
         <export name="*"/>
      </library>
      <library name="lib/mathml.jar"/>
      <library name="lib/xalan.jar"/>
      <library name="lib/xerces_1_4_3.jar"/>
      <library name="lib/GIFOutputStream.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
   </requires>
   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            icon="icons/sample.gif"
            class="de.fhflensburg.hwlanguage.perspective.PerspectiveFactory"
            id="de.fhflensburg.hwlanguage.perspective">
      </perspective>
   </extension>
   
   <extension
      point = "org.eclipse.ui.newWizards">
	<category
	   id = "de.fhflensburg.hwlanguage.wizardcategory"
	   name="%NewWizard.category">
	</category>
 	<wizard
		id = "de.fhflensburg.hwlanguage.new.hwlangfile"
		name = "%NewFileWizard.name"
		class="de.fhflensburg.hwlanguage.filewizard.FileWizard"
		category="de.fhflensburg.hwlanguage.wizardcategory"
		icon="icons/sample.gif">
    	   <description>%NewFileWizard.desc</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
	<wizard
		name="%NewProjectWizard.name"
		icon="icons/sample.gif"
		category="de.fhflensburg.hwlanguage.wizardcategory"
		class="de.fhflensburg.hwlanguage.projectwizard.ProjectWizard" 
		project="true"
		finalPerspective="de.fhflensburg.hwlanguage.perspective"
		id="de.fhflensburg.hwlanguage.new.hwlangproject">
		<description>
		    %NewProjectWizard.desc
		</description>
	</wizard>
   </extension>

   <extension point="org.eclipse.ui.propertyPages">
      <page id="HWLProjectProperties"
            name="HWL Properties"
            objectClass="org.eclipse.core.resources.IProject"
            class="de.fhflensburg.hwlanguage.project.PropertiesPage">
         <filter name="projectNature"
                 value="de.fhflensburg.hwlanguage.nature">
         </filter>
      </page>
   </extension>

   <extension point="org.eclipse.core.resources.natures"
              id="nature"
              name="HWL Nature">
      <runtime>
         <run class="de.fhflensburg.hwlanguage.project.Nature"/>
      </runtime>
   </extension> 
   <extension point="org.eclipse.core.resources.builders"
	          id="builder"
    	      name="HWL Builder">
      <builder>
         <run
               class="de.fhflensburg.hwlanguage.project.build.IncrementalBuilder">
         </run>
      </builder>
   </extension>
</plugin>
